<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
       margin: 0px;
  }

    .fa:hover {
      opacity: 0.5;
      text-decoration: none;
    }

    h3 {
      text-align: center;
    }
  </style>
</head>

<footer>
        <div class="container">
            <h3 style="color:#ffffff;">Copyright &copy; 2021  </h3>
        </div>
</footer>

</html>
